@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', serif;
}

.box-banner picture img {
    width: 100%;
}

main.pbc-pdv-automation-form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 75rem;
    padding: 1rem;
}

form#homeSlideForm {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    width: 100%;
}

form#homeSlideForm .dragging {
    opacity: 0.5;
}

#homeSlideForm > section.pbcForm {
    padding: 1rem;
    border: 2px solid #A9BFB8;
    border-radius: 10px;
    box-shadow: 2px 1px 5px -1px #A9BFB8;
    transition: 0.5s all;
}

#homeSlideForm > section.pbcForm:hover {
    box-shadow: 2px 1px 5px -1px #264653;
    border: 2px solid #264653;
}

#homeSlideForm > section > div {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 0 0;
}

#homeSlideForm > section > div > input {
    width: 95%;
    padding: 0.5rem;
    margin: 0.5rem auto;
    outline: none;
    border: 2px solid #A9BFB8;
    border-radius: 20px;
    transition: 0.5s all;
}

#homeSlideForm > section > div > input:focus {
    width: 100%;
    border: 2px solid #264653;
}

.pbc-btn-txtarea {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
    padding: 1rem 0;
  }
  
  .pbc-btn-txtarea > div {
    display: flex;
    justify-content: center;
    width: 50%;
  }
  
  .pbc-btn-txtarea > div > button {
    text-transform: uppercase;
    min-height: 3rem;
    width: 100%;
    outline: none;
    border: 1px solid #264653;
    background: none;
    border-radius: 25px;
    color: #264653;
    transition: 0.5s all;
    cursor: pointer;
  }
  
  #buildButton, #copyHtmlButton {
    border: 1px solid red;
    color: red;
    cursor: not-allowed;
  }
  
  #buildButton:hover, #copyHtmlButton:hover {
    background-color: rgb(255, 222, 222);
  }
  
  .pbc-btn-txtarea > div > button:hover {
    background-color: #c7f9cc;
  }

textarea{
    width: 100%;
    height: 0vh;
    margin: 0 auto;   
    opacity: 0;
}

.icon-mobile-change {display: none;}


@media (max-width: 900px) {
    form#homeSlideForm {
        display: -webkit-inline-box;
        overflow: auto;
    }

    #homeSlideForm > section.pbcForm {
        padding: 0.5rem;
        width: 85%;
    }    

    #homeSlideForm.grid-mob-position {
        display: grid !important;
        grid-template-columns: 1fr 1fr !important;
    }

    #homeSlideForm.grid-mob-position > section.pbcForm {
        width: 100%;
    }

    .grid-mob-position .ar_form {
        padding: 0;
        width: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .grid-mob-position > section > div {
        display: none !important;
    }

    .icon-mobile-change {
        display: block;
        width: 50px;
        margin: 0 auto;
        margin-bottom: 25px;
    }
}