* {
    margin: 0;
}

.box-banner picture img {
    width: 100%;
}

.pbc-pdv-automation-form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1rem;
    padding: 1rem;   
}

.pbc-btn-copy {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 1rem;
    row-gap: 1rem;
}

#homeSlideFemForm > div:nth-child(5) > button {
    padding: 0.5rem 0;
    font-size: 1rem
}

#homeSlideFemForm > div {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 0 0;
}

#homeSlideFemForm > div > input {
    min-height: 1.5rem;
}

button#copyHtml {
    padding: 1rem 3rem;
    font-size: 1rem;
}

@media (max-width: 600px) {
    .pbc-pdv-automation-form {
        grid-template-columns: 1fr 1fr;
    }
}