* {
  margin: 0;
  padding: 0;
}

.box-banner picture img {
  width: 100%;
}

main.pbc-pdv-automation-form {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

form#homeSlideForm {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  width: 100%;
}

#homeSlideForm > section > div {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 0 0;
}

#homeSlideForm > section > div > input {
  min-height: 2rem;
}

.pbc-btn-txtarea {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
  padding: 1rem 0;
}

.pbc-btn-txtarea > div {
  display: flex;
  justify-content: center;
  width: 100%;
}

.pbc-btn-txtarea > div > button {
  text-transform: uppercase;
  min-height: 3rem;
  width: 100%;
}

.pbc-btn-txtarea > div > button:hover {
  font-weight: bold;
}

textarea {
  width: 100%;
  height: 10vh;
  margin: 0 auto;
}

@media (min-width: 601px) {
  .icon-mobile-change {
    display: none;
  }
}

@media (max-width: 600px) {
  form#homeSlideForm {
    grid-template-columns: 1fr 1fr;
  }

  .grid-mob-position {
    grid-template-columns: 1fr 1fr 1fr !important;
  }

  .grid-mob-position h2 {
    height: 60px;
    align-items: center;
    display: flex;
  }

  .grid-mob-position h2:active {
    background-color: blue;
  }

  .grid-mob-position .ar_form {
    padding: 0;
  }

  .grid-mob-position > section > div {
    display: none !important;
  }
  .box-hoover a {
    pointer-events: none;
  }

  .icon-mobile-change {
    width: 50px;
    margin: 0 auto;
    margin-bottom: 25px;
  }
  .item.selected {
    display: flex;
    margin-bottom: 20px;
    overflow: auto;
    margin-left: 15px;
  }

  .item.selected > div > div {
    overflow: auto;
    width: 100% !important;
    margin-bottom: 400px;
    display: flex;
    justify-content: flex-start;
  }

  .item.selected::-webkit-scrollbar,
  .item.selected > div > div::-webkit-scrollbar {
    display: none;
  }

  .grid-mob-position section.pbcForm.ar_form.selected {
    background-color: rgb(10 29 137 / 32%);
  }

  #homeSlideForm {
    display: -webkit-inline-box !important;
    overflow: auto;
    padding: 2px;
  }

  #homeSlideForm::-webkit-scrollbar {
    display: none;
  }
}

/**/

.ar_form {
  max-width: 300px;
  border-radius: 10px;
  padding: 20px 30px;
  box-shadow: 2px 1px 5px -1px #111;
}

.ar_form * {
  transition: 0.3s ease-in-out;
  box-sizing: border-box;
}

.ar_form input {
  width: 90%;
  margin: 0.6em 0;
  padding: 10px 10px;
  border: 0;
  font-weight: 700;
  background-color: transparent;
  outline: none;
  border-color: #217554;
  border-radius: 20px;
  margin-left: 50%;
  transform: translateX(-50%);
}

.ar_form input[type="text"],
.ar_form input[type="password"] {
  border: 2px solid gray;
}
/* #03273D; */
.ar_form input[type="text"]:focus,
.ar_form input[type="password"]:focus {
  border-color: #217554;
  width: 100%;
}

.ar_form input[type="submit"] {
  background-color: #217554;
  color: white;
  width: 70%;
}

.ar_form a {
  color: #bbb;
  margin-top: 2em;
  text-align: center;
  display: block;
}

.ar_form a:hover {
  color: #35bd87;
}

.item {
  display: none;
}

.item.selected {
  display: block;
  margin-bottom: 20px;
}

.item .pdv-automation > div {
  width: min-content !important;
  margin: 0 auto;
  justify-content: center;
  gap: 1rem;
}

.box-hoover img {
  width: 150px;
}

.box-hoover a {
  display: grid;
}

#select-option {
  margin: 0 auto;
  display: flex;
  margin-bottom: 20px;
}

body {
  background-color: #f6f6f6;
  transition: background-color 0.3s;
}

body[light-mode="dark"] * {
  background-color: #141516;
  color: #ced4e2;
}

body[light-mode="dark"] .light-mode-button span:nth-child(1) {
  background-color: #ced4e2;
  color: #141516;
}

body[light-mode="dark"] .light-mode-button span:nth-child(2) {
  left: 65px;
  background-color: #141516;
}

body[light-mode="dark"] a {
  color: #141516;
}
